<h3>{{copy.converterSelectLang}}</h3>
<div class="language-dropdown">
	<select (change)="updateLanguageFrom($event.target.value)">
		<option class="center" value="">---</option>
		<option *ngFor="let lang of langOptions" [value]="lang.id"> {{lang.name}}</option>
	</select>
	<i class="fas fa-exchange-alt"></i>
	<select (change)="updateLanguageTo($event.target.value)">
		<option class="center" value="">---</option>
		<option *ngFor="let lang of langOptions" [value]="lang.id"> {{lang.name}}</option>
	</select>
</div>

<ng-container *ngIf="langFrom && langTo">
	<select class="stitchDropdown" (change)="onSelectStitch($event.target.value)">
		<option value="">--{{copy.converterSelectStitch}}--</option>
		<option *ngFor="let stitch of stitchNames" [value]="stitch.id">{{stitch.name}}</option>
	</select>
</ng-container>

<ng-container *ngIf="stitchToDisplay">
	<div class="display">
		<p>{{copy.converterStitchName}}: <span class="bold">{{stitchToDisplay.name}}</span></p>
		<p>{{copy.converterStitchAbv}}: <span class="bold">{{stitchToDisplay.abv?
				stitchToDisplay.abv: stitchToDisplay.id}}</span></p>
	</div>
	<div class="child1 btn">
		<div (click)="showYoutubeList(stitchToDisplay, 'en')" [class.selected]="videoLang === 'en'"> {{copy.converterEnTutorial}}
		</div>
		<div (click)="showYoutubeList(stitchToDisplay, 'kr')" [class.selected]="videoLang === 'kr'"> {{copy.converterKrTutorial}}</div>
	</div>
	<div *ngIf="videoList.length > 0">
		<iframe *ngFor="let video of videoList" width="315" height="250" [src]="video | safe" frameborder="0"
			allowfullscreen></iframe>
	</div>
</ng-container>
