<div class="topnav" [ngClass]="{responsive: toggleMenu}">
	<a routerLink="/" routerLinkActive="active"> {{navCopy.home}}</a>
	<a routerLink="/converter" routerLinkActive="active">{{navCopy.stitchConverter}}</a>
	<a *ngIf="false" routerLink="/projects" routerLinkActive="active">{{navCopy.projects}}</a>
	<!-- <a routerLink="/about" routerLinkActive="active">{{lang === 'kr'? '소개' : 'About'}}</a> -->
	<a (click)="selectLang('kr')"> {{navCopy.krLang}}</a>
	<a (click)="selectLang('en')">{{navCopy.enLang}}</a>
	<i class="fas fa-bars icon" [ngClass] (click)="onClick()"></i>
</div>
