<div class="topnav" [ngClass]="{responsive: toggleMenu}">
	<a routerLink="/" routerLinkActive="active"> {{lang === 'kr'? '홈' : 'Home'}}</a>
	<a routerLink="/converter" routerLinkActive="active">{{lang === 'kr'? '스티치 변환기' : 'Stitch Converter'}}</a>
	<a *ngIf="false" routerLink="/projects" routerLinkActive="active">{{lang === 'kr'? '프로젝트' : 'Projects'}}</a>
	<!-- <a routerLink="/about" routerLinkActive="active">{{lang === 'kr'? '소개' : 'About'}}</a> -->
	<a (click)="selectLang('kr')"> {{lang ==='kr'? '한국어': 'Korean'}}</a>
	<a (click)="selectLang('en')">{{lang ==='kr'? '영어': 'English'}}</a>
	<i class="fas fa-bars icon" [ngClass] (click)="onClick()"></i>
</div>
